:root {
  --color-white: #E0E0E0;
  --color-black: #0c0c0c;
  }

  body {
    background-image: url('../assets/img14.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    font-size: calc(15px + 0.390625vw);
    backdrop-filter: blur(4px) brightness(40%); 

}
.sobremi-body {
  background-image: url("../assets/img06.jpeg");
  background-position: top;
  background-attachment: fixed;
  backdrop-filter: blur(4px) brightness(50%);
 
  }
  
.lecciones-body {
  background-image: url("../assets/img03.jpeg");
  background-position: center;
  background-attachment: fixed;
  }



    ::selection {
      background-color: rgba(0, 0, 0, 0.3);
      color: var(--color-white);
      }

      h1, h2, h3, h4, p {
      text-align: center;
      position: relative;
      font-family: "Crimson Text", serif;
      font-weight: 700;
      background-image: linear-gradient(
      to right,
      #cb9b51 0, 
      #e8c487 22%,
      #f6e27a 45%,
      #f7f08c 50%,
      #f6e27a 55%,
      #e8c487 78%,
      #cb9b51 100%
      );
      color:transparent;
      -webkit-background-clip:text;
      text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.15); 
      filter: brightness(102%); 
      }
      
      h1 {
        color: var(--color-white);
        font-weight: 400;
        font-size: 1.5vw;
        }
        
        h2 {
          font-size: 2rem; 
      }
      
  
        h3 {
          font-size: 1.5rem;
        }
  
        button, h4, .nav-link  {
          font-size: 1.1rem;
        }

        footer {
          font-size: 0.9rem;
        }
      
      .navbar-expand-sm .navbar-toggler-icon {
          filter: invert();
          z-index: 9;
        }
    
        a {
          color:var(--color-white) !important;
          }

      a:hover {
        text-decoration: underline; 
        cursor: pointer; 
        text-underline-offset: 0.3em; 
        text-decoration-color: rgba(247, 240, 141, 0.75); 
        color:var(--color-white);
        }
        
        .flags {
          width: 75px;
          display: flex;
          align-items: flex-start; 
          justify-content: flex-end; 
          position: absolute;
          top: 10px; 
          right: 35px; 
        }
        
        .flags__item {
          width: 40px;
        }
        
        .flags__item:not(:last-child) {
          margin-right: 10px;
        }
        
        .flags__item img:hover {
          transform: scale(115%);
          cursor: pointer;
          filter: brightness(115%);
        }

        .section-1 {
          width: 60%;
          margin: auto;
          }
          
          .section-1 h1 {
          position:relative;
          transform: translate(-1%, -1%); 
          text-align: left;
          bottom: 5px;
          right: 15vw;
          }
          
          .enviar {
          font-family: "Crimson Text", serif;
          background-color:  #b8afaf; 
          color:  #593705;
          border: none; 
          padding: 8px 8px;
          border-radius: 50px; 
          display: inline-block; 
          font-weight: bold;
          outline: none;
          width: calc(100px + 0.390625vw);
          text-align: center;
          margin: auto;
          background-image: linear-gradient(
          to right,
          #a57834  0,
          #cb9b51 22%, 
          #f6e27a 45%,
          #f7f08c 50%,
          #f6e27a 55%,
          #cb9b51 78%,
          #a27531 100%
          );
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
          }

          .enviar:hover {
            filter: brightness(115%); 
            }

          .imgs img {
            margin-top: 3vw;
            border-radius: 2%;
            transform: scale(0.85);
            transition: transform 0.3s ease;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
            
        }
          
          .imgs .img-fluid:hover {
            transform: scale(0.92); 
          }
          
          .imgs h2{
            text-align: center;
          }
          
          .imgs p{
            margin-top: 1vw;
            padding-left: 4%;
            padding-right: 4%;
          }
          
          
          footer {
            background-color: var(--color-black);
            color: var(--color-white);
            padding: 20px 0;
            text-align: center;
            position: relative;
            top: 2.1vw;
           
          } 


/*--------- LECCIONES PAG ---------*/


.section-3 img{
  border-radius: 10px; /* Bordes redondeados */
  }

  /* MEDIA QUERIES */


  @media (max-width: 575.98px) {   

      .imgs img {
        margin-top: -5vw;
        transform: scale(0.75);
    }
      
      .imgs .img-fluid:hover {
        transform: scale(0.8); 
      }

      .imgs h2{
        text-align: center;
        margin-top: -10vw;
      }
      
      .imgs p{
        margin-top: 1vw;
        padding-left: 4%;
        padding-right: 4%;
      }
      
      .flags {
        top: 13px; 
        right: 29px; 
      }
      .flags__item {
        width: 30px;
      }
    
  }
  
  @media (min-width: 576px) {
  }

  @media (max-width: 768px) {
  }
  
  @media (max-width: 992px) {
    
    h1 {
      opacity: 0;
      }
  }

  @media (max-width: 1200px) {
  }

  @media (max-width: 1441px) {
    .section-1 {
      width: 82%;
      } 
      .section-1 h1 {
        right: 5vw;
        }
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.075)
  }


  .recuadro {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo negro con 50% de opacidad */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
  }